query RecipeUID($xid: string){
	recipeUID(func: eq(xid, $xid)) {
		r as uid
		{{ range $i, $ingr := .Ingredients }}
			ingredients @filter(eq(name, {{ $ingr.Name }})) {
				i{{ $i }} as uid
				food {
					f{{ $i }} as uid
				}
			}
		{{ end }}
	}
}
